*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6  {
    text-wrap: balance;
}

body {
    height: 100dvh;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor__opciones {
    background-color: #fff;
    padding: 24px;
    border-radius: 6px;
    box-shadow: 0 0 10px 0 #0003;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6px;
}

h1 {
    grid-column: span 2;
    font-size: 1.5rem;
}

.opcion__crud {
    text-align: center;
}

.opcion__crud a {
    display: inline-block;
    width: 100%;
    padding: 6px 0;
    background-color: #48e;
    color: #fff;
    border-radius: 6px;
}

.opcion__crud a:hover {
    background-color: rgb(30, 111, 233);
}