<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú de Opciones</title>
    <link rel="stylesheet" th:href="@{/css/styles_index.css}">
</head>
<body>
    <div class="contenedor__opciones">
        <h1>CRUD's de Personas y Mascotas</h1>
        <div class="opcion__crud">
            <a href="/nuevapersona">Personas</a>
        </div>
        <div class="opcion__crud">
            <a href="/nuevamascota">Mascotas</a>
        </div>
    </div>
</body>
</html>